*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(220, 220, 221);
}

.dice-game-box{
    min-height: 600px;
    max-width: 600px;
    width: 90%;
    background-color: rgba(232, 240, 71, 0.611);
    box-shadow: 1px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.dice-game-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    padding: 0.8em; 
    font-size: 2.3rem; 
}

h2{
    text-align: center;
}

.score-main-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1.875em; 
}

.score-box{
    width: 200px;
    height: 200px;
    background: rgb(234, 235, 234);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.btn{
    display: block;
    margin: 2em auto;
    padding: 0.4em 1.2em;
    width: 50%;
    font-size: 1.5625rem; 
    border: none;
    border-radius: 10px;
    background: rgb(248, 81, 106);
    color: aliceblue;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background: rgb(254, 112, 133);
}

.restart-btn{
    display: none;
}

.score-box-container h3{
    text-align: center;
    margin-top: 1em;
    font-size: 2rem;
}

.active{
    box-shadow: 2px 3px 6px rgb(0, 0, 0);
}

.score-box img {
    width: 120px; 
    height: 110px;
}

.roll-dice
{
    position: absolute;
    display: none;
   
}

.namecon
{
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.dice-container
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.dice-container button{
    background-color: rgb(27, 177, 127);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;

}

.dice-container button:hover
{
    background-color: rgb(21, 155, 32);
}


@media (max-width: 600px) {

    .dice-container
    {
        display: flex;
        justify-content: center;
        margin-top:10rem;
    }
    h1{
        line-height: 1.35em;
    }
    .score-main-box{
        flex-direction: column;
    }
    
    .btn{
        font-size: 1rem;
    }
   
    .score-box-container h3{

        margin-top: 0.2em;
       
    }


    
}